#Python
client/__pycache__/
client/*.pyc
client/*.pyo
client/myenv
client/.env
client/dist/
client/build/
client/client.spec
client/*.exe
client/*.log
client/client.build
client/client.dist
client/emqxsl-ca.crt
client/client.onefile-build

#Nodejs
server/node_modules/
server/npm-debug.log
server/yarn-error.log
server/.env

#frontend
ProjectXFrontend/node_modules
ProjectXFrontend/.env

#OS files
.DS_Store
Thumbs.db
